In [381]:
import pandas as pd
from selenium import webdriver 
from webdriver_manager.chrome import ChromeDriverManager 
from selenium.webdriver.common.keys import Keys  
from selenium.webdriver.support.ui import Select  
from selenium.common.exceptions import NoSuchElementException  #Este importé para manejar más errores.
from time import sleep

In [398]:
df_peliculas = pd.read_csv("peliculas_combinadas.csv")

df_peliculas.head()

,Unnamed: 0,ID,Nombre,Tipo,Año de Estreno,Mes de Estreno,Genero
0,0,tt0439572,The Flash,Movie,2023,6,Accion
1,1,tt10151854,Shazam! Fury of the Gods,Movie,2023,3,Accion
2,2,tt10366206,John Wick: Chapitre 4,Movie,2023,3,Accion
3,3,tt10364034,Miraculous: Filmen om Ladybug & Cat Noir,Movie,2023,7,Accion
4,4,tt10471692,Scavenger,Movie,2023,NaN,Accion

In [394]:

df_peliculas.tail()

,ID,Nombre,Tipo,Año de Estreno,Mes de Estreno,Genero
6300,tt32159792,The Last Button 2,Movie,2021,6,Comedia
6301,tt32162144,Stuck,Movie,2019,9,Comedia
6302,tt32163340,Pfuma,Movie,2013,9,Comedia
6303,tt32152499,Babaye Man Khanandas,Movie,Desconocido,Desconocido,Comedia
6304,tt32152466,Ye Ghandoon Neshat,Movie,Desconocido,Desconocido,Comedia

In [386]:
# Guardar el DataFrame combinado en un nuevo archivo CSV
df_peliculas.to_csv('peliculas_combinadas.csv', index=False)

In [387]:
df_peliculas

,ID,Nombre,Tipo,Año de Estreno,Mes de Estreno,Genero
0,tt0439572,The Flash,Movie,2023,6,Accion
1,tt10151854,Shazam! Fury of the Gods,Movie,2023,3,Accion
2,tt10366206,John Wick: Chapitre 4,Movie,2023,3,Accion
3,tt10364034,Miraculous: Filmen om Ladybug & Cat Noir,Movie,2023,7,Accion
4,tt10471692,Scavenger,Movie,2023,NaN,Accion
...,...,...,...,...,...,...
6300,tt32159792,The Last Button 2,Movie,2021,6,Comedia
6301,tt32162144,Stuck,Movie,2019,9,Comedia
6302,tt32163340,Pfuma,Movie,2013,9,Comedia
6303,tt32152499,Babaye Man Khanandas,Movie,Desconocido,Desconocido,Comedia
6304,tt32152466,Ye Ghandoon Neshat,Movie,Desconocido,Desconocido,Comedia

In [388]:
df_peliculas.columns

Index(['ID', 'Nombre', 'Tipo', 'Año de Estreno', 'Mes de Estreno', 'Genero'], dtype='object')

In [389]:
df_peliculas['ID']

0        tt0439572
1       tt10151854
2       tt10366206
3       tt10364034
4       tt10471692
           ...
6300    tt32159792
6301    tt32162144
6302    tt32163340
6303    tt32152499
6304    tt32152466
Name: ID, Length: 6305, dtype: object

In [390]:
id_peliculas = df_peliculas['ID']
df_peliculas.head(20)

,ID,Nombre,Tipo,Año de Estreno,Mes de Estreno,Genero
0,tt0439572,The Flash,Movie,2023,6,Accion
1,tt10151854,Shazam! Fury of the Gods,Movie,2023,3,Accion
2,tt10366206,John Wick: Chapitre 4,Movie,2023,3,Accion
3,tt10364034,Miraculous: Filmen om Ladybug & Cat Noir,Movie,2023,7,Accion
4,tt10471692,Scavenger,Movie,2023,NaN,Accion
5,tt10545296,The Hunger Games: The Ballad of Songbirds & Sn...,Movie,2023,11,Accion
6,tt10676048,The Marvels,Movie,2023,11,Accion
7,tt10954600,Ant-Man and the Wasp: Quantumania,Movie,2023,2,Accion
8,tt10955900,Untitled The Mafia: Payback Sequel,Movie,NaN,NaN,Accion
9,tt11230362,Dark City: Interval_575,Movie,2023,9,Accion
10,tt11274492,The Out-Laws,Movie,2023,7,Accion
11,tt11601444,Extraordinary Sacrifice,Movie,NaN,NaN,Accion
12,tt11705740,Gold Rush,Movie,NaN,NaN,Accion
13,tt11872772,Untitled Project Valentina Sequel,Movie,NaN,NaN,Accion
14,tt11972054,Bugsy the Becoming,Movie,2023,8,Accion
15,tt11998558,Varisu,Movie,2023,1,Accion
16,tt12261776,65,Movie,2023,3,Accion
17,tt12263384,Extraction II,Movie,2023,6,Accion
18,tt12283024,Eímai o Theós,Movie,2023,3,Accion
19,tt12422694,Getting to the Plug,Movie,2023,2,Accion

## Extraccion datos imdb:

In [391]:
id_peliculas
driver = webdriver.Chrome()
driver.get("https://www.imdb.com")
sleep(1)
driver.maximize_window()
sleep(1)
driver.find_element("css selector", "#__next > div > div > div.sc-jrcTuL.bPmWiM > div > button.icb-btn.sc-bcXHqe.sc-dkrFOg.sc-iBYQkv.dcvrLS.ddtuHe.dRCGjd").click()
sleep(1)
diccionario_imdb = {
        "puntuacion": [],
        "direccion": [],
        "guion": [],
        "sinopsis": [],
        "duracion": [],
        "nombre": []}

for id in id_peliculas[ 1:5]:
    try:
        barra_busqueda = driver.find_element("css selector", "#suggestion-search")
        # barra_busqueda.clear()  # Limpiar cualquier texto anterior
        sleep(1)
        barra_busqueda.send_keys(id,Keys.ENTER)
        sleep(2)
        
        
        if id not in driver.current_url: # Esto es una herramienta de Selenium para indicar en que pagina estamos actualmente.
            print(f"ID {id} de película no encontrado, seguimos con el siguiente.")
            continue
        
        diccionario_imdb["puntuacion"].append(driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(5) > section > section > div.sc-4e4cc5f9-3.dDRspk > div.sc-3a4309f8-0.bjXIAP.sc-b7c53eda-1.iIQkEw > div > div:nth-child(1) > a > span > div > div.sc-bde20123-0.dLwiNw > div.sc-bde20123-2.cdQqzc > span.sc-bde20123-1.cMEQkK").text)
        diccionario_imdb["direccion"].append(driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(5) > section > section > div.sc-4e4cc5f9-4.ixQHwZ > div.sc-4e4cc5f9-6.fFWQTt > div.sc-4e4cc5f9-10.jXLkbv > section > div.sc-b7c53eda-3.vXcqY > div > ul > li:nth-child(1) > div > ul > li").text)
        diccionario_imdb["guion"].append(driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(5) > section > section > div.sc-4e4cc5f9-4.ixQHwZ > div.sc-4e4cc5f9-6.fFWQTt > div.sc-4e4cc5f9-10.jXLkbv > section > div.sc-b7c53eda-3.vXcqY > div > ul > li:nth-child(2) > div").text)
        diccionario_imdb["sinopsis"].append(driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(5) > section > section > div.sc-4e4cc5f9-4.ixQHwZ > div.sc-4e4cc5f9-6.fFWQTt > div.sc-4e4cc5f9-10.jXLkbv > section > p > span.sc-a31b0662-2.geLkLc").text)
        diccionario_imdb["duracion"].append(driver.find_element("css selector","#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(5) > section > section > div.sc-4e4cc5f9-3.dDRspk > div.sc-b7c53eda-0.dUpRPQ > ul > li:nth-child(3)").text)
        diccionario_imdb["nombre"].append(driver.find_element("css selector", "#__next > main > div > section.ipc-page-background.ipc-page-background--base.sc-304f99f6-0.fSJiHR > section > div:nth-child(5) > section > section > div.sc-4e4cc5f9-3.dDRspk > div.sc-b7c53eda-0.dUpRPQ > h1 > span").text)
        print(f"Informacion extraida para el ID: {id}")
        
    except NoSuchElementException: #Herramienta importada de Selenium.
        print(f"No se encontro la pagina para el ID {id}")
    except Exception as e:
        print(f"Error durante la búsqueda del ID {id}: {str(e)}")
    finally:
        # Volver a la página de inicio para asegurar una búsqueda limpia
        driver.get("https://www.imdb.com")
        sleep(1)

driver.close()

Informacion extraida para el ID: tt10151854
Informacion extraida para el ID: tt10366206
Informacion extraida para el ID: tt10364034
No se encontro la pagina para el ID tt10471692

In [392]:
diccionario_imdb

{'puntuacion': ['5,9', '7,7', '6,1'],
 'direccion': ['David F. Sandberg', 'Chad Stahelski', 'Jeremy Zag'],
 'guion': ['Henry GaydenChris MorganBill Parker',
  'Shay HattenMichael FinchDerek Kolstad',
  'Jeremy ZagBettina Lopez MendozaThomas Astruc'],
 'sinopsis': ['El adolescente Billy Batson, que al recitar la palabra mágica "¡SHAZAM!" se transforma en su alter ego de superhéroe adulto, Shazam.',
  'John Wick descubre una forma de derrotar a la Alta Mesa. Pero antes de que pueda ganar su libertad, debe enfrentarse a un nuevo enemigo con poderosas alianzas en todo el mundo y fuerzas que convierten a viejos amigos en enemigos.',
  'La vida de Marinette se vuelve sobrehumana cuando se convierte en Ladybug. Dotada con los poderes mágicos de la creación, Ladybug debe unirse a su opuesto, Cat Noir, para salvar París cuando un villano desata el caos en la ciudad.'],
 'duracion': ['2h 10min', '2h 49min', '1h 45min'],
 'nombre': ['¡Shazam! La furia de los dioses',
  'John Wick 4',
  'Prodigiosa: Las aventuras de Ladybug - La película']}

In [393]:
df_pelis_imdb_selenium =pd.DataFrame(diccionario_imdb)
df_pelis_imdb_selenium

,puntuacion,direccion,guion,sinopsis,duracion,nombre
0,"5,9",David F. Sandberg,Henry GaydenChris MorganBill Parker,"El adolescente Billy Batson, que al recitar la...",2h 10min,¡Shazam! La furia de los dioses
1,"7,7",Chad Stahelski,Shay HattenMichael FinchDerek Kolstad,John Wick descubre una forma de derrotar a la ...,2h 49min,John Wick 4
2,"6,1",Jeremy Zag,Jeremy ZagBettina Lopez MendozaThomas Astruc,La vida de Marinette se vuelve sobrehumana cua...,1h 45min,Prodigiosa: Las aventuras de Ladybug - La pelí...